@font-face {
    font-family: 'normal-font';
    src: url('fonts/Arvo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'headline-font';
    src: url('fonts/Raleway-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'headline-light-font';
    src: url('fonts/Raleway-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'headline-black-font';
    src: url('fonts/Raleway-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'headline-extra-font';
    src: url('fonts/DEVROYUN.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    font-family: normal-font, serif;
}

/* Header */
header {
    margin: 0;
    padding: 0;
    height: 230px;
    color: #fff;
}

header img.headerImage {
    height: 230px;
    width: 100%;
}

.logo_container {

    position: absolute;
    top: 10px;
    margin: 0 25%;
    text-align: center;
    width: 200px;
}

header img.logo {
    display: block;
    margin-top: 40px;
    margin-left: 30px;
}

header #overlay {
    background-color: #188536;
    opacity: 0.4;
    position: absolute;
    display: block;
    top: 35px;
    height: 160px;
    width: 100%;
}

header p {
    position: absolute;
    display: block;
    height: 80px;
    text-align: center;
    top: 100px;
    font-size: 1.5em;
    font-family: headline-font, sans-serif;
    margin: 0;
    padding: 0;
}

header span.special {
    font-family: headline-extra-font, sans-serif;
}

/* Navigation */
nav {
    text-align: center;
    font-family: headline-font, serif;
}

nav ul {
    list-style: none;
    background-color: #a0a0a0;
    margin: 0;
    padding: 0;
}

nav a, nav span, footer a {
    color: white;
    text-decoration: none;
}

nav ul li, nav .mobile {

    font-family: headline-font, serif;
    display: none;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #000;
}

nav .mobile {
    display: block;

    background-color: #a0a0a0;
    text-align: right;
}

nav:hover ul li {
    display: block;
}

nav ul li:hover, nav ul li.active, nav .mobile:hover {
    background-color: #727373;
}

/* Main */

main {
    font-size: 0.9em;
    margin: 10px;
}

/* Footer */
footer {
    position: fixed;
    background-color: #188536;
    width: 100%;
    padding: 10px;
    bottom: 0;

}

footer span {
    float: right;
    margin: 10px 30px 0 0;
    font-size: 11px;
}

/* Headlines */
h1, h2, h3, h4, h5, h6 {
    font-family: headline-font, serif;
}

h1 {
    margin: 0 0 30px 0;
    padding: 10px;
    background-color: #188536;
    color: white;
    font-size: 1.5em;
    font-family: headline-light-font, sans-serif;
}

h2 {
    color: #8bc053;
    margin: 10px 0;
    text-align: left;
    font-size: 1.5em;
    font-family: headline-black-fonts, sans-serif;
}

.clear {
    clear: both;
}

main {
    margin-bottom: 80px;
}

main p {
    margin: 10px 0;
}

main a {
    color: #8bc053;
}

div.news {
    margin: 20px 0 10px 0;
    padding-top: 20px;
    border-top: 1px solid #000;
}

div.news img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
}

@media (min-width: 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    footer {
        background-color:  red;
    }
    header .logo_container {

        margin: 0 33%;
    }
}

@media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    footer {
        background-color:  orange;
    }

    header .logo_container {

        margin: 0 40%;
    }
}

@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    footer {
        background-color:  blue;
    }
}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    footer {
        background-color:  blueviolet;

    }
}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
}