@font-face {
    font-family: 'normal-font';
    src: url('fonts/Arvo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'normal-font-bold';
    src: url('fonts/Arvo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'headline-font';
    src: url('fonts/Raleway-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'headline-light-font';
    src: url('fonts/Raleway-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'headline-black-font';
    src: url('fonts/Raleway-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'headline-extra-font';
    src: url('fonts/DEVROYUN.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    font-family: normal-font, serif;
}

/* Header */
header {
    margin: 0;
    padding: 0;
    height: 230px;
    max-height: 230px;
    color: #fff;
    width: 100%;
}

header div#headerSlider {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 230px;
    overflow: hidden;
}

header img.headerImage {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {

    position: absolute;
    top: 10px;
    margin: 0 25%;
    text-align: center;
    width: 200px;
}

header img.logo {
    display: block;
    margin-top: 40px;
    margin-left: 30px;
}

.overlayLogo {
    background-color: #188536;
    opacity: 0.4;
    position: absolute;
    display: block;
    top: 35px;
    height: 160px;
    width: 100%;
}

header p a{
    position: absolute;
    display: block;
    height: 80px;
    text-align: center;
    top: 100px;
    font-size: 1.5em;
    font-family: headline-font, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
}

header span.special {
    font-family: headline-extra-font, sans-serif;
}

/* Navigation */
nav {
    text-align: center;
    font-family: headline-font, serif;
}

nav ul {
    list-style: none;
    background-color: #a0a0a0;
    margin: 0;
    padding: 0;
}

nav a, nav span, footer a {
    color: white;
    text-decoration: none;
}

nav ul li, nav .mobile {

    font-family: headline-font, serif;
    display: none;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #000;
}

nav .mobile {
    display: block;

    background-color: #a0a0a0;
    text-align: right;
}

nav:hover ul li {
    display: block;
}

nav ul li:hover, nav ul li.active, nav .mobile:hover {
    background-color: #727373;
    cursor: pointer;
}

nav .hasSecondMenu {
    padding: 10px 0 0;
}

nav .secondMenu {
    border-top: 1px solid #000;
    border-bottom: 0;
    margin-top: 10px;
}
nav .secondMenu li {
    background-color: #848484;
}

    /* Main */

main {
    font-size: 1em;
    margin: 0px;
}

/* Footer */
footer {
    position: fixed;
    background-color: #188536;
    width: 100%;
    padding: 10px;
    bottom: 0;
    text-align: center;
}

footer span {
    margin: 10px 30px 0 0;
    font-size: 11px;
}

/* Headlines */
h1, h2, h3, h4, h5, h6 {
    font-family: headline-font, serif;
}

h1 {
    margin: 0 0 30px 0;
    padding: 10px;
    background-color: #188536;
    color: white;
    font-size: 1.6em;
    font-family: headline-extra-font, serif;
}

h2 {
    color: #c21250;
    margin: 10px 0;
    text-align: left;
    font-size: 1.5em;
    font-family: headline-black-fonts, sans-serif;
}

h3 {
    color: #db5e23;
}

.pink {
    background-color: #c21250;
}

.orange {
    background-color: #db5e23;
}

.blue {
    background-color: #7d4f97;
}

.red {
    background-color: #c12021;
}

.clear {
    clear: both;
}

main {
    margin-bottom: 90px;
}

main p {
    max-width: 650px;
}

main a {
    color: #8bc053;
}

div.news {
    margin: 40px 10px 10px 10px;
    border-top: 1px solid #a0a0a0;
    color: #fff;
    position: relative;
}

div.news span {
    color: #727373;
    font-style: italic;
}

div.news img {
    margin-right: 20px;
    margin-bottom: -20px;
    margin-top: 10px;
    width: 100%;
}

div.news h2 {
    margin-bottom: 0;
}

div.news div.offer{
    position: relative;
    padding-top: 20px;
    padding-bottom: 2px;
}

div.news span.dateRange {
    float: right;
    background-color: #1a6b3b;
    padding: 5px 10px;
    top: -10px;
    left: 0;
    color: #fff;
    position: absolute;
    font-family:headline-extra-font, sans-serif;

}

div.colorBox {
    padding: 10px;
    padding-bottom: 20px;
}
div.colorBox a {
    color: #fff;
    background-color: #188536;
    padding: 10px;
    margin: 10px;
    position: absolute;
    bottom: -30px;
}

div.colorBox a:hover {
    background-color: #1a6b3b;
}

div.leftSide, div.rightSide {
    padding:  0 15px;
}

div.leftSide img , div.rightSide img {
    width: 100%;
}

/* Wochenmarkt*/

.card{
    width: 100%;         
    padding-bottom: 0;
    position: relative;
}

div.card img{
    width: 100%;
}

div.card .overlay{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 50px;
    opacity: 0.5;
}

div.card h2{
    position: absolute;
    top: 10%;
    color: white;    
    width: 100%;
    text-align: center;
}

div.card h3{
    padding-left: 10px;
    margin: 0px 0px;
    padding-bottom: 20px;
    color: #000;     
}

div.card a{
    text-decoration: none;
}


div.fullSide {
    margin: 20px 0 10px 0;
    padding-top: 20px;
    border-top: 1px solid #a0a0a0;
}
div.fullSide img{
    width: 100%;
}

div.fourInRow, div.fullSide {
    margin: 10px;
}

/* Kontaktformular */
form {
    padding: 10px;
}

label {
    display: block;
}

input, textarea {
    margin-bottom: 15px;
    border: 3px solid #8bc053;
    background-color: #eefad1;
    padding: 8px;
    width: 95%;
    font-family: normal-font, serif;
}

input[type=submit] {
    padding: 5px 20px;
    color: #fff;
    background-color: #188536;
    font-size: 1.1em;
    width: 120px;
    border:0;
}

input[type=submit]:hover {
    cursor: pointer;

    background-color: #1a6b3b;
}

@media (min-width: 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    header .logo_container {

        margin: 0 33%;
    }
    
    footer {
        background: yellow;
    }
}

@media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    header .logo_container {
        margin: 0 40%;
    }

    footer {
        text-align: right;
        background: red;
    }

    input:not([type=submit]) {
        width: 65%;
    }
}

@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    
    footer {
        background: blue;
    }
    
    header .logo_container {
        margin: 0 40%;
    }

    nav ul {
        border-bottom: 1px solid #000;
    }

    nav ul li {
        display: inline-block;
        border-left: 1px solid #000;
        width: 100px;
        margin-right: -4px;
        border-bottom: 0;
        font-size: 0.9em;
        position: relative;
    }

    nav a {
        display: inline-block;
        width: 100px;
        margin-right: -4px;
    }

    nav ul li:last-child {
        border-right: 1px solid #000;
    }

    nav .mobile {
        display: none;
    }

    nav:hover ul li {
        display: inline-block;
    }

    nav .hasSecondMenu {
        padding: 10px;
    }

    nav .secondMenu {
        display: none;
        position: absolute;
        text-align: left;
        left: 0;
        top: 27px;
        z-index: 5;
    }

    nav .secondMenu li, nav .secondMenu li:last-child {
        border: 0;
        border-bottom: 1px solid #000;
    }

    nav ul li:hover .secondMenu {
        display: block;
    }

    main {
        width: 80%;
        margin: 0 10% 80px;
    }

    h1 {
        padding-left: 10%;
        text-align: left;
    }

    h2, h3{
        margin-top: 10px;
    }

    div.leftSide {
        float: left;
        padding: 0;
        width: 100%;
        margin-right: 30px;
    }
    div.rightSide {
        padding: 0;
    }

    div.news {
        width: 45%;
        float: left;
        margin: 10px;
        position: relative;
    }

    div.news h2 {
    }

    input:not([type=submit]) {
        width: 45%;
    }
    div.news div.parallel {
        margin-top: 30px;
    }
    
    .card{
        max-width: 350px;
        width: 45%;
        float: left;
        border: 1px solid gray;
        box-shadow: 1px 1px 3px #888;
        margin: 10px; 
        position: relative;
    }
    div.card h2{
        top: 11%;
    }

    div.fullSide img{
        width: 70%;
        float: left;
        margin: 0 20px 20px 0;
    }
    div.fourInRow {
        width: 48%;
        float: left;
        margin: 0;
        margin-left: 10px;
        height: 180px;
    }
    div.fullSideTextBox{
        float: left;
    }
}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    header .logo_container {
        margin: 0 45%;
    }
     footer {
        background: gray;
    }
    div.leftSide {
        width: 33%;
        float: left;
    }

    div.rightSide{
        width: 60%;
        float: left;
    }

    nav ul li {
        width: 120px;
        font-size: 1em;
    }

    nav a {
        width: 120px;
    }
    div.leftSide img , div.rightSide img{
        width: auto;
        height: 100%;
    }

    div.fourInRow {
        height: 150px;
    }

    div.news {
        width: 29%;
    }

}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
     footer {
        background: pink;
    }
    
    main {
        width: 80%;
        margin: 0 10% 80px;
    }

    h1 {
        padding-left: 10%;
    }

    header img.headerImage {
        height: auto;
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    div.fullSide img {
        width: 40%;
    }
    div.fullSideTextBox{
        width: 55%;
        float: left;
    }
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
     footer {
        background: red;
    }
    
    main {
        width: 80%;
        margin: 0 10% 80px;
    }

    h1 {
        padding-left: 10%;
    }

    input:not([type=submit]) {
        width: 35%;
    }

    div.leftSide {
        width: 27%;
        float: left;
    }

    div.rightSide{
        width: 70%;
        float: left;
    }

    div.fourInRow {
        width: 24%;
        height: auto;
    }
    .card{
        max-width: 350px;
        width: 22%;
    }

}